<header class="r2r-header">
  <div class="r2r-header-content">
    <div class="r2r-logo-area">
      <img src="assets/logo.png" alt="Ready2Ref" class="r2r-logo" />
      <span class="r2r-title">Área Privada</span>
    </div>
    <nav class="r2r-nav">
      <a class="r2r-nav-link" routerLink="/home-login">Inicio</a>
      <a class="r2r-nav-link" (click)="logout()">Cerrar sesión</a>
    </nav>
  </div>
</header>

<main class="r2r-main">
  <!-- Opcional, muestra nombre completo si tienes -->
  <p *ngIf="userProfile">
    Bienvenido, {{ userProfile.nombre }} {{ userProfile.primerApellido }} {{ userProfile.segundoApellido }} a Ready2Ref
  </p>

  <!-- Mostrar contenido según el rol -->
  <div *ngIf="rol === 'ADMIN'">
    <button (click)="gestionarUsuarios()">Gestionar Usuarios</button>
    <button (click)="crearPack()">Crear Pack</button>
    <div class="crear-arbitro-section">
      <button routerLink="/crear-arbitro" class="crear-arbitro-btn">Crear un árbitro</button>
      <button routerLink="/arbitros-registrados" class="ver-arbitros-btn">Ver árbitros registrados</button>
      <button routerLink="/crear-entrenador" class="crear-entrenador-btn">Crear entrenador</button>
      <button routerLink="/contrasenia" class="contrasenia-btn">Cambiar contraseña</button>
    </div>
  </div>

  <div *ngIf="rol === 'USER'">
    <div class="editar-datos-section">
      <button routerLink="/user-edit" class="editar-datos-btn">Editar datos personales</button>
      
      <button routerLink="/contrasenia" class="contrasenia-btn">Cambiar contraseña</button>
    </div>
  </div>

  <div *ngIf="rol === 'ENTRENADOR'">
      <button routerLink="/entrenador-edit" class="editar-datos-btn">Editar datos personales</button>
      <button routerLink="/contrasenia" class="contrasenia-btn">Cambiar contraseña</button>
  </div>
</main>
