@import '../home/home.component.css';

/* Puedes añadir estilos específicos para los botones si lo deseas */
.r2r-welcome-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.badge {
  background: #1976d2;
  color: #fff;
  border-radius: 12px;
  padding: 0.2em 0.7em;
  font-size: 0.95em;
  margin-left: 0.5em;
  vertical-align: middle;
}
