<header class="r2r-header">
  <div class="r2r-header-content">
    <div class="r2r-logo-area">
      <div class="logo-circle">
        <img src="assets/logo.png" alt="Ready2Ref Logo" class="r2r-logo" />
      </div>
      <span class="r2r-title">Ready2Ref</span>
    </div>
    <nav class="r2r-nav">
      <a class="r2r-nav-link" routerLink="/nosotros">Nosotros</a>
      <a class="r2r-nav-link" routerLink="/pack">Pack</a>
      <a class="r2r-nav-link" routerLink="/patrocinadores">Patrocinadores</a>
      <a class="r2r-nav-link" routerLink="/areaprivada">Área Privada</a>
    </nav>
    <a class="r2r-login-btn" routerLink="/login">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z"/>
        <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
      </svg>
      <span>Iniciar sesión</span>
    </a>
  </div>
</header>
