<div class="home-bg">
  <div class="container-fluid py-4">
    <div class="d-flex justify-content-between align-items-start">
      <img src="logo-img.png" alt="ADCS" class="home-logo logo-img">
      <a routerLink="/login" class="login-link mt-3">INICIAR SESIÓN</a>
    </div>
    <h1 class="home-title fw-bold">
      Árbitros y Árbitras Deportistas de Cartuja
    </h1>
  </div>
  <nav class="home-nav">
    <div class="container">
      <div class="row text-center text-white fw-bold py-2">
        <div class="col">NOSOTROS</div>
        <div class="col">PACKS</div>
        <div class="col">PATROCINADORES</div>
        <div class="col"><a routerLink="/area-privada" class="text-white text-decoration-none">ÁREA PRIVADA</a></div>
      </div>
    </div>
  </nav>
</div>
