<app-header-public></app-header-public>
<main class="r2r-main">
  <section class="r2r-welcome">
    <h1 class="r2r-welcome-title">{{ welcomeMessage }}</h1>
    <p class="r2r-welcome-desc">Accede a tu cuenta de Ready2Ref</p>
  </section>
  <section class="r2r-login-form-section">
    <form [formGroup]="loginForm" (ngSubmit)="login()" class="login-form-container">
      <h2>Iniciar sesión</h2>
      <div class="mb-3">
        <label for="username" class="form-label text-white">Usuario</label>
        <input type="text" id="username" formControlName="username" class="form-control" placeholder="Introduce tu usuario" />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label text-white">Contraseña</label>
        <input type="password" id="password" formControlName="password" class="form-control" placeholder="Introduce tu contraseña" />
      </div>
      <div class="login-form-botones">
        <button type="submit" class="btn btn-primary w-100">Entrar</button>
      </div>
    </form>
  </section>
</main>
